.background{
	-fx-background-color: #ebeff3;
}

.button{
	-fx-text-fill: #fff;
	-fx-cursor: hand;
	-fx-background-insets: 0, 1;
	-fx-border-width: 0;
}

.log-out{
	-fx-background-color: #e2185b;
	-fx-background-radius: 10px;
	-fx-font-weight: bold;
	-fx-font-size: 14px;
	-fx-padding: 0 30 0 30;
}

.house-region{
	-fx-background-color: #a8d9ff;
	-fx-background-radius: 10px;
	-fx-border-color: #0b88d8;
	-fx-border-radius: 10px;
	-fx-border-width: 1px;
}

.add-house-button{
	-fx-background-color: #e2185b;
	-fx-background-radius: 10px;
	-fx-font-weight: bold;
	-fx-font-size: 14px;
}